
@import "~bootstrap/scss/bootstrap.scss";


.container{
    background: black;
    float: center;
    text-shadow: 3px 3px yellow;
    text-align: center;

}
.container div{
    display: inline-block;
    font-size: 200px;
    line-height: 200px;
    height: 220px;
    background-color: black;
    color: orange;
    margin: auto;
}